body {
    width:400px;
    margin: 0 auto;
    background-color: yellow;
  }
  body, button {
    font-family: 'Righteous', cursive;
  }
  h2 {
    margin: 1.5em .25em .1em 0em;
  }
  button, li {
    text-transform: uppercase;
    margin: .25em;
  }
  li {
    list-style: none;
  }
  button #add-burger {
    margin: 0 auto !important;
  } 