body {
  background-color: yellow;
  font-family: 'Righteous', cursive;
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("logos.jpg");
}

.jumbotron {
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 6px;
  text-align: center;
  background-color: yellow;
  color: rgb(180, 123, 16);
}
.left {
  text-align: center;
}
.right {
  text-align: center;
}
.bottom {
  text-align: center;
}
ul {
  list-style: none;
}
li {
  font-size: medium;
}